.hidden {
  display: none !important;
}

.view {
  display: contents;
}

.container {
  max-width: 35.938rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-third {
  width: 100%;
}

.column-half {
  width: 50%;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.image-padding {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-bottom: 3.125rem;
  border-radius: 0.625rem;
}

.img-border-radius {
  border-radius: 0.625rem;
}

/* tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 62.5rem;
  }

  .page-title {
    text-align: center;
    color: #f59a4f;
    font-size: 2.5rem;
    margin: 2.5rem 0.313rem 3.125rem;
  }

  .column-third,
  .column-half {
    width: calc(100% / 3);
  }

  .search-box {
    border: none;
    font-size: 1.25rem;
    border-radius: 0.313rem 0 0 0.313rem;
    padding-left: 0.625rem;
    color: #0d1e2f;
    width: 50%;
  }

  .video-box {
    padding: 0 0.938rem;
  }

  .image-padding {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-bottom: 7.5rem;
    border-radius: 0.625rem;
    margin-top: 2.188rem;
  }
}

/* tablet landscape */
@media screen and (min-width: 1024px) {
  .page-title {
    color: #f59a4f;
    font-size: 2.5rem;
    margin: 2.5rem 0.313rem 1.25rem;
  }

  .image-padding {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-bottom: 0.938rem;
    border-radius: 0.625rem;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .page-title {
    color: #f59a4f;
    font-size: 2.5rem;
    margin: 2.5rem 0.313rem;
  }

  .image-padding {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-bottom: 3.125rem;
    border-radius: 0.625rem;
  }
}
